In [1]:
# import libraries
import requests

## API for grocery stores

In [21]:
# find out how to hide your api key

# define API Key, endpoint, and headers
API_KEY = 'tFEcz2ChYVwW-Dq8TKqzgM3B1RxZ-fbo_y3Zd6pBWMlkmvi8Gy_G1pDSBrDR-68ehmnzIguSqkc4MLKNPpgQvlk6BiaLNxZGmIYBOA0JAqYi9mglAEqIqE24gJTjW3Yx'
ENPOINT = 'https://api.yelp.com/v3/businesses/search'
HEADERS = {'Authorization': 'bearer %s' % API_KEY} # not sure what 'bearer' means...

# parameters
PARAMETERS = {'term': 'grocery store',
              'limit': 50,
              'location': 'washington dc'}

# make the request
response = requests.get(url=ENPOINT,
                        params=PARAMETERS,
                        headers=HEADERS)

In [24]:
# convert json to dict
yelp_data = response.json()

In [35]:
print(yelp_data.keys())
print(type(yelp_data))

dict_keys(['businesses', 'total', 'region'])
<class 'dict'>

In [44]:
#print(yelp_data['businesses'])
name = []
lat = []
lon = []

for biz in yelp_data['businesses']:
    name.append(biz['name'])
    lat.append(biz['coordinates']['latitude'])
    lon.append(biz['coordinates']['longitude'])

In [51]:
import pandas as pd

data = {'Name': name,
        'Lat': lat,
        'Lon': lon}

grocery_store = pd.DataFrame(data,
                             columns=['Name', 'Lat', 'Lon'])

In [56]:
grocery_store.head()

                 Name        Lat        Lon
0               Giant  38.908980 -77.022060
1  Whole Foods Market  38.909365 -77.033428
2        Trader Joe's  38.916148 -77.032033
3        Trader Joe's  38.904093 -77.053024
4             Safeway  38.903541 -77.018836

In [57]:
grocery_store.to_csv('grocery_store.csv')

## API for farmers markets

In [2]:
# find out how to hide your api key

# define API Key, endpoint, and headers
API_KEY = 'tFEcz2ChYVwW-Dq8TKqzgM3B1RxZ-fbo_y3Zd6pBWMlkmvi8Gy_G1pDSBrDR-68ehmnzIguSqkc4MLKNPpgQvlk6BiaLNxZGmIYBOA0JAqYi9mglAEqIqE24gJTjW3Yx'
ENPOINT = 'https://api.yelp.com/v3/businesses/search'
HEADERS = {'Authorization': 'bearer %s' % API_KEY} # not sure what 'bearer' means...

# parameters
PARAMETERS = {'term': 'farmer',
              'limit': 50,
              'location': 'washington dc'}

# make the request
response = requests.get(url=ENPOINT,
                        params=PARAMETERS,
                        headers=HEADERS)

In [3]:
# convert json to dict
yelp_data_farmers = response.json()

In [4]:
print(yelp_data_farmers.keys())
print(type(yelp_data_farmers))

dict_keys(['businesses', 'total', 'region'])
<class 'dict'>

In [6]:
name = []
lat = []
lon = []

for biz in yelp_data_farmers['businesses']:
    name.append(biz['name'])
    lat.append(biz['coordinates']['latitude'])
    lon.append(biz['coordinates']['longitude'])

In [8]:
import pandas as pd

data = {'Name': name,
        'Lat': lat,
        'Lon': lon}

farmers_market = pd.DataFrame(data,
                             columns=['Name', 'Lat', 'Lon'])

In [9]:
farmers_market.head()

                            Name        Lat        Lon
0         Farmers Fishers Bakers  38.901699 -77.059744
1           Farmers & Distillers  38.901278 -77.020213
2  Founding Farmers - Washington  38.900319 -77.044476
3      Founding Farmers - Tysons  38.922694 -77.223021
4        MoCo's Founding Farmers  39.060000 -77.156845

In [10]:
farmers_market.to_csv('farmers_marketr.csv')

## API for landmarks

In [3]:
# find out how to hide your api key

# define API Key, endpoint, and headers
API_KEY = 'tFEcz2ChYVwW-Dq8TKqzgM3B1RxZ-fbo_y3Zd6pBWMlkmvi8Gy_G1pDSBrDR-68ehmnzIguSqkc4MLKNPpgQvlk6BiaLNxZGmIYBOA0JAqYi9mglAEqIqE24gJTjW3Yx'
ENPOINT = 'https://api.yelp.com/v3/businesses/search'
HEADERS = {'Authorization': 'bearer %s' % API_KEY} # not sure what 'bearer' means...

# parameters
PARAMETERS = {'term': 'landmarks',
              'limit': 20,
              'location': 'washington dc'}

# make the request
response = requests.get(url=ENPOINT,
                        params=PARAMETERS,
                        headers=HEADERS)

In [5]:
# convert json to dict
yelp_data_landmarks = response.json()

print(yelp_data_landmarks.keys())
print(type(yelp_data_landmarks))

dict_keys(['businesses', 'total', 'region'])
<class 'dict'>

In [6]:
import pandas as pd

name = []
lat = []
lon = []

for biz in yelp_data_landmarks['businesses']:
    name.append(biz['name'])
    lat.append(biz['coordinates']['latitude'])
    lon.append(biz['coordinates']['longitude'])

data = {'Name': name,
        'Lat': lat,
        'Lon': lon}

landmarks = pd.DataFrame(data,
                         columns=['Name', 'Lat', 'Lon'])

In [9]:
landmarks.head()

                                           Name        Lat        Lon
0                    Landmark's E Street Cinema  38.896260 -77.026649
1  Landmark Theatres - Atlantic Plumbing Cinema  38.917935 -77.023234
2                           Bethesda Row Cinema  38.981772 -77.095140
3                           Library of Congress  38.888733 -77.004502
4                              Lincoln Memorial  38.889346 -77.050200

In [10]:
landmarks.to_csv('landmarks.csv')